@font-face {
    font-family: "Arial";
    src: url(Arial);
}

*{
    box-sizing: border-box;
}

.backgrounds{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

h1{
    text-align: center;
}

div div{
    width:150px;
    height:150px;
    margin: 10px;
    text-align: center;
}

.bg-1{
    background-color: yellow;
}

.bg-2{
    background-image: url(https://images.unsplash.com/photo-1518636693090-8407756ab88b?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.bg-3{
    background: linear-gradient(90deg, yellow , black);
}